<!DOCTYPE html>
<html lang="en">
<head>
	<title>Browser Title</title>
	<meta name="description" content="Analog clock demo written in Brython www.brython.info">
	<meta name="keywords" content="Python,Brython">
	<meta name="author" content="Pierre Quentel">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
	</style>
	<script src="content_generator.jspy" defer></script>
</head>
<body style="font-family:arial">
<div id="content">No content yet</div>
</body>
</html> 
